

.streak-box
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    background-color: aqua;

    div
{
    margin: 20px;
}
    
}

.current
{
    font-size: x-large;
    color: black;
}

.best
{
    color: black;
    opacity: 0.5;
}