<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
    <ion-title>interests</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-input [(ngModel)]="userInterest.interest" placeholder="Enter Input" ></ion-input>
  <ion-button (click)="createInterest(userInterest)" expand="block" type="submit">Update</ion-button>
  <ion-item class="" *ngFor="let interest of (interests | async)">
    <ion-label class="" (click)="bookService.pickBook(interests)">
      <ion-thumbnail slot="start">

        {{interest.interest}}
        <!-- <ion-img src={{book.volumeInfo.imageLinks.thumbnail}}></ion-img> -->
      </ion-thumbnail>
    </ion-label>
    <!-- <ion-label>
      {{book.volumeInfo.title}}
    </ion-label> -->
  </ion-item>
  <div id="interest-list">

  </div>
</ion-content>
