<ion-header>
  <ion-toolbar>
    <ion-buttons *ngIf="!firstTime" slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
    <ion-title>interests</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
 

  <ion-input [(ngModel)]="userInterest.interest" placeholder="Enter Input" ></ion-input>
  <ion-button (click)="createInterest(userInterest)" expand="block" type="submit">Update</ion-button>
  <ion-list class="" *ngFor="let interest of (interests | async)">
     <!-- Sliding item with text options on both sides -->
    <ion-item-sliding>

      <ion-item>
        <ion-label>{{interest.interest}}</ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteInterest(interest.id)">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
  <div id="interest-list">

  </div>
  <ion-button *ngIf="firstTime" (click)="goHome()">See Recommendations</ion-button>
</ion-content>
