<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item lines="full">
  <ion-label position="floating">old password</ion-label>
  <ion-input type="password" [(ngModel)]="oldPassword" required></ion-input>
</ion-item>

<ion-item lines="full">
  <ion-label position="floating">new password</ion-label> 
  <ion-input type="password" [(ngModel)]="newPassword" required></ion-input>
</ion-item>
<ion-button type="submit" (click)="changePw()" expand="block" fill="outline" size="default">Change password</ion-button>

