<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
    <ion-title>Change Email</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item lines="full">
  <ion-label position="floating">old email</ion-label>
  <ion-input type="email" [(ngModel)]="email" required></ion-input>
</ion-item>
<ion-item lines="full">
  <ion-label position="floating">password</ion-label>
  <ion-input type="password" [(ngModel)]="password" required></ion-input>
</ion-item>

<ion-item lines="full">
  <ion-label position="floating">new email</ion-label> 
  <ion-input type="email" [(ngModel)]="newEmail" required></ion-input>
</ion-item>
<ion-button type="submit" (click)="changeEm()" expand="block" fill="outline" size="default">Change email</ion-button>


