<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Swipe
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="'/wishlist'">
        <div class="wishlist-length">{{ wishlistItemCount | async }}</div>
        <ion-icon name="star-outline" class="star-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-list>
    <ion-list-header>
      <ion-label>Books</ion-label>
      
    </ion-list-header> -->
  <!-- {{this.parsedBooks[0].volumeInfo.title}} -->
  <!-- <ion-list> -->
    <!-- <ion-item class="" *ngFor="let book of (books | async)" (click)="openbookDetails(book.id)"> -->
    <!-- <ion-item class="" *ngFor="let book of (parsedBooks | async)"> -->
    <!-- <ion-item class="" *ngFor="let book of parsedBooks "> -->
      <ion-card (click)='GoBookDetail(parsedBooks)'>
        <img class="full-image" src={{parsedBooks?.volumeInfo.imageLinks.thumbnail}} />
        <ion-card-header>
          
          <ion-card-title> {{parsedBooks?.volumeInfo.title}}</ion-card-title>
          <ion-card-subtitle>By: {{parsedBooks?.volumeInfo.authors}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          {{parsedBooks?.volumeInfo.description}}
        </ion-card-content>
      </ion-card>
      <ion-item>
          <ion-button fill="clear" (click)="similarBooks(parsedBooks?.volumeInfo.categories)">
          Similar books
        </ion-button>
      </ion-item>
  



    <!-- <ion-item class="">
      <ion-label class="">
        <ion-thumbnail slot="start">
          <ion-img src={{parsedBooks.volumeInfo.imageLinks.thumbnail}}></ion-img>
        </ion-thumbnail>
      </ion-label>
      <ion-button (onclick)=addToWishlist(parsedBooks.id)>
   
      </ion-button>
      <ion-label>
        {{parsedBooks.volumeInfo.title}}
      </ion-label>
        <ion-button fill="clear" (click)="addToWishlist(parsedBooks)">
          <ion-icon name="add"></ion-icon>
        </ion-button>
    </ion-item>
  </ion-list> -->
</ion-content>
