<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Swipe
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="'/wishlist'">
        <div class="wishlist-length">{{ wishlistItemCount | async }}</div>
        <ion-icon name="star-outline" class="star-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-card>
        <div (click)='GoBookDetail(parsedBook)'>
          <img class="full-image" src={{parsedBook?.volumeInfo.imageLinks?.thumbnail}} />
          <ion-card-header>
            
            <ion-card-title> {{parsedBook?.volumeInfo.title}}</ion-card-title>
            <ion-card-subtitle>By: {{parsedBook?.volumeInfo.authors}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{parsedBook?.volumeInfo.description}}
            <!-- <ion-button fill="clear" (click)="similarBooks(parsedBook?.volumeInfo.categories)"> -->
          </ion-card-content>
        </div>
        
        <ion-button class="ion-text-start" fill="clear" (click)="similarBooks(parsedBook?.volumeInfo.categories)">
          Similar books
        </ion-button>
        <ion-button class="ion-text-start" fill="clear" (click)="authorPage(parsedBook?.volumeInfo.authors, parsedBook?.id)">
          Check out other books by author
        </ion-button>
        <ion-button class="ion-float-right" fill="clear" (click)="newBook()">
          <ion-icon color="danger" name="close-circle-outline"></ion-icon>
      </ion-button>
      </ion-card>
      <!-- <div class="ion-text-center">
        <h1 *ngIf="!noInterests">
          You don't have any interests. Add interests to get recommendations.
        </h1>
       </div> -->
</ion-content>
