ion-fab-button {
    height: 70px;
    width: 70px;
  }
   
  .star-icon {
    font-size: 40px;
  }
   
  .wishlist-length {
    color: var(--ion-color-primary);
    position: absolute;
    top: 18px;
    left: 25px;
    font-weight: 600;
    font-size: 1em;
    min-width: 25px;
    z-index: 10;
  }


  .full-image {
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }